백준 1463_1로 만들기
* 문제 링크:https://www.acmicpc.net/problem/1463
* 풀이 시간: 많이 걸림.. 
* 정수 X에 사용할 수 있는 연산은 다음과 같이 세 가지 이다.

  * X가 3으로 나누어 떨어지면, 3으로 나눈다.
  * X가 2로 나누어 떨어지면, 2로 나눈다.
  * 1을 뺀다.
  
* 정수 N이 주어졌을 때, 위와 같은 연산 세 개를 적절히 사용해서 1을 만들려고 한다. 연산을 사용하는 횟수의 최솟값을 출력하시오.

# 1. **나의 생각**

* 방향성

1: 2n+1, 3m+1

2: 2n, 3m+2

3: 2n+1, 3m

4: 2n, 3m+1

5: 2n+1, 3m+2

6: 2n, 3m

의 형태를 계속 반복할 것이라고 생각. 그래서 각 경우별 최소로 만들어주는 경우를 찾아 3으로 나누는 경우, 2로 나누는 경우, 1을 빼는 경우를 if(elif)로 코딩하려고 했음.

* 문제점
  * 숫자가 커질수록 안 맞는 경우가 있었음. 상황에 따라 달라질 수가 있었음. 이전의 최소 결과 반영이 필요했음.

In [21]:
a= int(input())

def cnt(a):
  b=0
  for i in range(0,50):
    if a==1:
      break
    if ((a%2==1 and a%3==1) or (a%2==0 and a%3==1) or (a%2==1 and a%3==2)):
      a-=1
      b+=1
    if ((a%2==0) and (a%3==2)):
      a=a/2
      b+=1
    if ((a%2==1 and a%3==0) or (a%6==0)):
      a=a/3
      b+=1
  return b
        
cnt(a)

15511

16

# 2. 구글링
Dynamic Programming: 개념 : 문제를 더 작은 단위로 쪼개어 해결하는 알고리즘. (분할 정복 알고리즘과 비슷)
핵심은, 그 작은 단위의 문제들이 반복해서 일어나기 때문에, 그값들을 저장해놓는 식으로 해결해나가는 알고리즘

*  파이썬은 재귀함수 쓰면 런타임 에러 많으므로 반복문(bottom-up)방식을 추천. 점화식 정의 필요

In [22]:
# 점화식 : dp(N) = min ( dp(N//3) +1, dp(N//2)+1 , dp(N-1)+1 )
a= int(input())
dp = [0 for _ in range(a+1)]

for i in range(2, a+1):
    dp[i] = dp[i-1] + 1  

    if i%2 == 0 and dp[i] > dp[i//2] + 1 :
        dp[i] = dp[i//2]+1
        
    if i%3 == 0 and dp[i] > dp[i//3] + 1 :
        dp[i] = dp[i//3] + 1
        
print(dp[a])

15511
16