# 시각

정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하기.

# 입력조건
*  첫 줄에 N이 입력된다(0<=N<=23).

# 출력조건
*  모든 경우의 수를 출력

#사고과정

*  00초~59초 중 3이 하나라도 들어가는 건?

  *  0X, 1X, 2X, 4X, 5X초 -> 각 1개
  *  3X -> 10개
  *  안들어가는건 -> 45개

* 00분~59분 중 3이 하나라도 들어가는 건?

  *  0X, 1X, 2X, 4X, 5X초 -> 각 1개
  *  3X -> 10개
  *  안들어가는건 -> 45개

* 00시~23시 중 3이 하나라도 들어가는 건?

  *  3, 13, 23 -> 3개
  *  안들어가는건 -> 21개

* 경우의수는 
  *  안-안-안 -> 21x45x45
  *  안-안-들 -> 21x45x15
  *  안-들-안/안-들-들 ->21x15x60
  *  들-안-안/들-안-들/들-들-안/들-들-들 -> 3x60x60

In [13]:
#알고리즘 이용 -> 이걸 생각해내는 cost 너무 크다. 
N=int(input())
T3=[3, 13, 23]
cnt=0
for i in range(3):
  if N > T3[i]:
    cnt+=1
    print(cnt)
  else:
    continue

timecnt=(N+1-cnt)*(45*15+15*60)+60*60*(cnt)
print(timecnt)

5
1
11475

#완전탐색

In [18]:
N=int(input())
cnt=0
for i in range(0, N+1):
  for j in range(0, 60):
    for k in range(0, 60):
      if ('3' in str(i)) or ('3' in str(j)) or ('3' in str(k)):
        cnt+=1
      k+=1
    j+=1
  i+=1
print(cnt)

5
11475